<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.meta.title if data.meta else "Teacher Taplink" }}</title>
    <meta
      name="description"
      content="{{ data.meta.description if data.meta else '' }}"
    />
    <meta name="keywords" content="{{ data.meta.keywords if data.meta else '' }}" />
    <meta property="og:title" content="{{ data.meta.og_title if data.meta else '' }}" />
    <meta
      property="og:description"
      content="{{ data.meta.og_description if data.meta else '' }}"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
  </head>
  <body>
    <div class="grain"></div>
    {% block content %}{% endblock %}
    <script src="/static/js/site.js"></script>
  </body>
</html>
